<%- include('../views/partials/head') %>

<body>
	<!-- Header -->
	<%- include('../views/partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/apple-banner.jpg" alt="">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% for(let i=0; i<10; i++) {%>
                <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/productos/productos">
                        <figure class="product-box_image">
                            <img src="<%= producto.lista[i].foto %>" alt="">
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= producto.lista[i].modelo %></h2>
                            <p> <%= producto.lista[i].descripcion %></p>
                            <p>Comentarios: 50</p>
                        </article>
                    </a>
                </section>
            	</div>          
            <% } %>
	
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('../views/partials/footer') %>
	<!-- /footer -->
</body>	
</html>