<%- include('../views/partials/head') %>
<body>
	<% if(logueado) { %>
        <%- include('../views/partials/headerLogueado.ejs') %>
    <% } else { %>
        <%- include('../views/partials/header.ejs') %>
    <% } %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= Producto.nombre %></h2> 
			<p class="product-detail-edit">
				<a href="/productos/add">Add</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.foto %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i< i.length; i++){%>
                            <article>
                                <img src="<%=usuario[i].fotoPerfil%>" alt="">
                                <div class="data">
                                    <p class="user">
                                    <strong> <a href="/profile"><%= usuario[i].nombre %>:</strong></a>
                                    <%= comentarios[i].texto %></p>
                                </div>
                            </article>
                        <% } %>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
	<%- include('../views/partials/footer') %>

</body>	
</html>