<%- include('../views/partials/head') %>
<body>
	<% if(locals.user != null) { %>
        <%- include('../views/partials/headerLogueado.ejs') %>
    <% } else { %>
        <%- include('../views/partials/header.ejs') %>
    <% } %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productoInfo.nombre %></h2> 
			<p class="product-detail-edit">
				<a href="/productos/add">Add</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= productoInfo.foto %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= productoInfo.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i< productoInfo.comentario.length; i++){%>
                            <article>
                                <img src="<%= productoInfo.comentario[i].usuario.fotoPerfil %>" alt="">
                                <div class="data">
                                    <p class="user">
                                    <strong> <a href="/users/perfil/ <%= productoInfo.comentario[i].usuario.id %>"><%= productoInfo.comentario[i].usuario.nombre %>:</strong></a>
                                    <%= productoInfo.comentario[i].texto %></p>
                                </div>
                            </article>
                        <% } %>

					</section>
					<% if (locals.user != null) { %>
						<form class="form" action="/productos/comentario/<%= productoInfo.id %>" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="texto">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
					<% } else { %>
						<h2><a href="/users/login">Tenes que estar logeado para comentar</a></h2>
					<% } %>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
	<%- include('../views/partials/footer') %>

</body>	
</html>