<%- include('../views/partials/head') %>
<body>
	<% if(locals.user != null) { %>
        <%- include('../views/partials/headerLogueado.ejs') %>
    <% } else { %>
        <%- include('../views/partials/header.ejs') %>
    <% } %>
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
			</h2>
			<form  action="/productos/editar/<%=productoInfo.id%>" method="post">
                <ul>suari
                    <li><input class="form-input" type="text" name="ImagenProducto" id="" placeholder="Imagen de producto"></li>
                    <li><input class="form-input" type="text" name="NombreProducto" id="" placeholder="Nombre del producto"></li>
                    <li><input class="form-input" type="text" name="DescripcionProducto" id="" placeholder="Descripcion" ></li>
                    <li><button class="form-label" type="submit">Editar producto</button></li>
                </ul>
            </form>
	<%- include('../views/partials/footer') %>