<%- include('../views/partials/head') %>

<body>
	<% if(locals.user != null) { %>
        <%- include('../views/partials/headerLogueado.ejs') %>
    <% } else { %>
        <%- include('../views/partials/header.ejs') %>
    <% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Resultados de búsqueda</h2> 
		</div>
		<div class="product-detail">
			<div class="row">
				<% for(let i = 0; i < productos.length; i++) {%>
					<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detalle/<%= productos[i].id %>">
							<img src="<%= productos[i].foto %>" alt="" class="product-detail-img">
							<article class="product-box_data">
								<h2><%= productos[i].modelo %></h2>
								<p> <%= productos[i].descripcion %></p>
								<p>Comentarios: <%= productos[i].comentario.length %></p>
							</article>
						</a>
					</section>
				</div>          
				<% } %>
			</div>
		</div>
	</div>
	<%- include('../views/partials/footer') %>
</body>

</html>