<%- include('../views/partials/head') %>

<body>
	<%- include('../views/partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Resultados de búsqueda</h2> 
		</div>
		<div class="product-detail">
			<div class="row">
				<% for(let producto of productos) {%>
					<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detalle/<%= producto.id %>">
							<img src="<%= producto.foto %>" alt="" class="product-detail-img">
							<article class="product-box_data">
								<h2><%= producto.modelo %></h2>
								<p> <%= producto.descripcion %></p>
							</article>
						</a>
					</section>
				</div>          
				<% } %>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i< comentarios.length; i++){%>
                            <article>
                                <img src="<%=comentarios[i].fotoPerfil%>" alt="">
                                <div class="data">
                                    <p class="user">
                                    <strong> <a href="/profile"><%= comentarios[i].usuario %>:</strong></a>
                                    <%= comentarios[i].texto %></p>
                                </div>
                            </article>
                        <% } %>
					</section>
				</div>
			</div>
		</div>
	</div>
	<%- include('../views/partials/footer') %>
</body>

</html>